<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand" href="#">ASK ME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success">Search!</button>
                </form>
                <a class="btn btn-outline-success" href="./ask.html">ASK!</a>

                <div class="d-flex gap-1">
                    <img src="../static/img/asda.jpg" style="height: 40px; width: 50px" alt="Profile">
                    <div>
                        dr pepper
                    </div>
                    <a href="#">Settings</a>
                    <a href="#">Log out</a>
                </div>
            </div>
        </div>
    </nav>
    <main class="container mt-3">
        <div class="d-flex gap-3 align-items-center">
            <h1>New Question</h1>
        </div>

        <div class="row">
            <div class="col-9">
                <form>
                    <div class="mb-3 d-flex">
                        <label for="title" class="form-label me-3">Title</label>
                        <input type="text" class="form-control is-invalid" id="title" aria-describedby="titleHelp"
                            placeholder="Question about life" style="border-color: grey;">
                    </div>
                    <div class="invalid-feedback mb-3 mt-3 d-flex">Please fill the title.</div>
                    <div class="mb-3 d-flex">
                        <label for="text" class="form-label me-3">Text</label>
                        <textarea class="w-100" id="text" style="height:100px"
                            placeholder="What is the meaning of life?" rows="5" style="outline-color: blue;"></textarea>
                    </div>
                    <div class="mb-3 d-flex">
                        <label for="tags" class="form-label me-3">Tags</label>
                        <input type="text" class="form-control" id="tags" placeholder="Dark, Info, Philosophy"
                            style="border-color: grey;">
                    </div>
                    <button type="submit" class="btn btn-primary">ASK!</button>
                </form>
            </div>
            <div class="col">
                <section class="mb-3">
                    <h2>Popular tags</h2>
                    <span class="badge text-bg-primary">Primary</span>
                    <span class="badge text-bg-secondary">Secondary</span>
                    <span class="badge text-bg-success">Success</span>
                    <span class="badge text-bg-danger">Danger</span>
                    <span class="badge text-bg-warning">Warning</span>
                    <span class="badge text-bg-info">Info</span>
                    <span class="badge text-bg-light">Light</span>
                    <span class="badge text-bg-dark">Dark</span>
                    <span class="badge text-bg-dark">Philosophy</span>
                </section>
                <section>
                    <h2>Best members</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#">Member</a></li>
                        <li class="list-group-item"><a href="#">Member</a></li>
                        <li class="list-group-item"><a href="#">Member</a></li>
                        <li class="list-group-item"><a href="#">Member</a></li>
                        <li class="list-group-item"><a href="#">Member</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </main>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
<footer class="mb-2 mt-5 d-flex"> <small class="mb-2 d-flex">Copyright &copy;  2024, ASK ME Corporation</small> </footer> 

</html>