<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand" href="#">ASK ME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success">Search!</button>
                    <form class="btn btn-outline-success"><a style="all: unset" href="./ask.html">ASK!</a></form>

                <div class="d-flex gap-1">
                    <a href="#">Log in</a>
                    <a href="#">Register</a>
                </div>
            </div>
        </div>
    </nav>
    <main class="container mt-3">
        <div class="d-flex gap-3 align-items-center">
            <h1>Log in</h1>
        </div>

        <div class="row">
            <div class="col-9">
                <form class="row g-3 needs-validation mb-3" novalidate>
                    <div class="d-flex">
                        <label for="validationLogin" class="form-label col-3">Login</label>
                        <input type="text" class="form-control" id="validationLogin" value="" required>
                        <div class="invalid-feedback">
                            Please enter your login!
                        </div>
                    </div>
                    
                    <div class="d-flex">
                        <label for="validationCustom05" class="form-label col-3">Password</label>
                        <input type="password" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">LOG IN!</button>
                    </div>
                </form>
                <a href="./signup.html" class="d-flex"> Create new account!</a>
            </div>
            <div class="col">
                <section class="mb-3">
                    <h2>Popular tags</h2>
                    <span class="badge text-bg-primary">Primary</span>
                    <span class="badge text-bg-secondary">Secondary</span>
                    <span class="badge text-bg-success">Success</span>
                    <span class="badge text-bg-danger">Danger</span>
                    <span class="badge text-bg-warning">Warning</span>
                    <span class="badge text-bg-info">Info</span>
                    <span class="badge text-bg-light">Light</span>
                    <span class="badge text-bg-dark">Dark</span>
                    <span class="badge text-bg-dark">Philosophy</span>
                </section>
                <section>
                    <h2>Best members</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#">Member</a></li>
                        <li class="list-group-item"><a href="#">Member</a></li>
                        <li class="list-group-item"><a href="#">Member</a></li>
                        <li class="list-group-item"><a href="#">Member</a></li>
                        <li class="list-group-item"><a href="#">Member</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </main>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

<footer class="mb-2 mt-5 d-flex"> <small class="mb-2 d-flex">Copyright &copy;  2024, ASK ME Corporation</small> </footer> 
</html>