{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title_block %}
<div class="d-flex gap-3 align-items-center">
    <h1>Registration</h1>
</div>
{% endblock %}
{% block content %}
<div class="col-9">
    <form class="row g-3 needs-validation" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <div class="form-group mb-3">
            {% for field in form %}
            {% bootstrap_field field wrapper_class='form-item my-3' field_class="form-control" show_label=False %}
            {% endfor %}
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">REGISTER!</button>
        </div>
    </form>
</div>
{% endblock %}
